body div {
    background-color: aqua;
    border: 1px solid;
}


#content {
    height: 100%;
    width: 85%;
    float: left;
}

#header {
    height: 90px;
    border: 1px solid;
    text-align: center;
}

#menu {
    height: 100%;
    width: 14.7%;
    float: left;
}

#footer {
    clear: both;
    text-align: center;
}

#container {
    width: 100%;
    height: 83%;
}

a.button1{
    width: 100%;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}
